In [3]:
#import libraries
import pandas as pd

In [11]:
#read csv
dfa = pd.read_csv("data/age-by-ratio-of-income-to-poverty-level-by-disabiliy-type.csv")
dfa.head(100)

,Label (Grouping),New York!!Estimate,New York!!Margin of Error
0,Total:,"19,163,785","±6,102"
1,Under 5 years:,"1,032,224","±3,908"
2,Under .50:,"110,834","±7,931"
3,With a disability:,387,±361
4,With a hearing difficulty,49,±48
...,...,...,...
95,No disability,"775,685","±20,996"
96,1.50 to 1.99:,"1,017,374","±31,046"
97,With a disability:,"206,343","±9,898"
98,With a hearing difficulty,"52,397","±3,948"
99,With a vision difficulty,"40,008","±4,372"

In [78]:
#find total with hearing difficulty in poverty 
#read clean csv
dfv = pd.read_csv("data/disability-poverty.csv")
dfv.head(10)

,Age,Ratio,Status,Type,Pop,Error
0,Total,Total,Total,Total,19163785,"±6,102"
1,Under 5 years:,Total,Total,Total,1032224,"±3,908"
2,Under 5 years:,Under .50:,Total,Total,110834,"±7,931"
3,Under 5 years:,Under .50:,With a disability:,Total,387,±361
4,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
5,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
6,Under 5 years:,Under .50:,No disability,NaN,110447,"±7,915"
7,Under 5 years:,.50 to .99:,Total,Total,80612,"±7,237"
8,Under 5 years:,.50 to .99:,With a disability:,Total,1402,±895
9,Under 5 years:,.50 to .99:,With a disability:,With a hearing difficulty,1100,±791

In [101]:
#filter under .5
dfs1 = dfv.query('Ratio == "Under .50:"')
dfs1

,Age,Ratio,Status,Type,Pop,Error
2,Under 5 years:,Under .50:,Total,Total,110834,"±7,931"
3,Under 5 years:,Under .50:,With a disability:,Total,387,±361
4,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
5,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
6,Under 5 years:,Under .50:,No disability,NaN,110447,"±7,915"
28,5 to 17 years:,Under .50:,Total,Total,280661,"±16,198"
29,5 to 17 years:,Under .50:,With a disability:,Total,28990,"±3,945"
30,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
31,5 to 17 years:,Under .50:,With a disability:,With a vision difficulty,4895,"±1,492"
32,5 to 17 years:,Under .50:,With a disability:,With a cognitive difficulty,23754,"±3,637"
33,5 to 17 years:,Under .50:,With a disability:,With an ambulatory difficulty,2415,"±1,150"
34,5 to 17 years:,Under .50:,With a disability:,With a self-care difficulty,4644,"±1,414"
35,5 to 17 years:,Under .50:,No disability,NaN,251671,"±15,616"
69,18 years and over:,Under .50:,Total,Total,1036198,"±25,948"
70,18 years and over:,Under .50:,With a disability:,Total,262096,"±10,870"
71,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"
72,18 years and over:,Under .50:,With a disability:,With a vision difficulty,51313,"±4,226"
73,18 years and over:,Under .50:,With a disability:,With a cognitive difficulty,123427,"±7,409"
74,18 years and over:,Under .50:,With a disability:,With an ambulatory difficulty,145701,"±7,849"
75,18 years and over:,Under .50:,With a disability:,With a self-care difficulty,60717,"±4,859"
76,18 years and over:,Under .50:,With a disability:,With an independent living difficulty,120069,"±7,014"
77,18 years and over:,Under .50:,No disability,NaN,774102,"±23,112"

In [102]:
#filter .5 to .99
dfs2 = dfv.query('Ratio == ".50 to .99:"')
dfs2

,Age,Ratio,Status,Type,Pop,Error
7,Under 5 years:,.50 to .99:,Total,Total,80612,"±7,237"
8,Under 5 years:,.50 to .99:,With a disability:,Total,1402,±895
9,Under 5 years:,.50 to .99:,With a disability:,With a hearing difficulty,1100,±791
10,Under 5 years:,.50 to .99:,With a disability:,With a vision difficulty,379,±393
11,Under 5 years:,.50 to .99:,No disability,NaN,79210,"±7,222"
36,5 to 17 years:,.50 to .99:,Total,Total,263635,"±16,626"
37,5 to 17 years:,.50 to .99:,With a disability:,Total,24050,"±4,270"
38,5 to 17 years:,.50 to .99:,With a disability:,With a hearing difficulty,780,±446
39,5 to 17 years:,.50 to .99:,With a disability:,With a vision difficulty,4776,"±1,913"
40,5 to 17 years:,.50 to .99:,With a disability:,With a cognitive difficulty,19330,"±3,962"
41,5 to 17 years:,.50 to .99:,With a disability:,With an ambulatory difficulty,1952,±850
42,5 to 17 years:,.50 to .99:,With a disability:,With a self-care difficulty,5029,"±1,774"
43,5 to 17 years:,.50 to .99:,No disability,NaN,239585,"±16,001"
78,18 years and over:,.50 to .99:,Total,Total,961530,"±26,068"
79,18 years and over:,.50 to .99:,With a disability:,Total,306552,"±11,864"
80,18 years and over:,.50 to .99:,With a disability:,With a hearing difficulty,56061,"±5,185"
81,18 years and over:,.50 to .99:,With a disability:,With a vision difficulty,56802,"±5,426"
82,18 years and over:,.50 to .99:,With a disability:,With a cognitive difficulty,132198,"±6,736"
83,18 years and over:,.50 to .99:,With a disability:,With an ambulatory difficulty,191820,"±8,619"
84,18 years and over:,.50 to .99:,With a disability:,With a self-care difficulty,84502,"±5,677"
85,18 years and over:,.50 to .99:,With a disability:,With an independent living difficulty,161658,"±8,426"
86,18 years and over:,.50 to .99:,No disability,NaN,654978,"±21,009"

In [112]:
#combine filtered sets
#there had to be a way to do both these things but idk it
dfs = pd.concat([dfs1, dfs2], ignore_index = True)
dfs

,Age,Ratio,Status,Type,Pop,Error
0,Under 5 years:,Under .50:,Total,Total,110834,"±7,931"
1,Under 5 years:,Under .50:,With a disability:,Total,387,±361
2,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
3,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
4,Under 5 years:,Under .50:,No disability,NaN,110447,"±7,915"
5,5 to 17 years:,Under .50:,Total,Total,280661,"±16,198"
6,5 to 17 years:,Under .50:,With a disability:,Total,28990,"±3,945"
7,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
8,5 to 17 years:,Under .50:,With a disability:,With a vision difficulty,4895,"±1,492"
9,5 to 17 years:,Under .50:,With a disability:,With a cognitive difficulty,23754,"±3,637"
10,5 to 17 years:,Under .50:,With a disability:,With an ambulatory difficulty,2415,"±1,150"
11,5 to 17 years:,Under .50:,With a disability:,With a self-care difficulty,4644,"±1,414"
12,5 to 17 years:,Under .50:,No disability,NaN,251671,"±15,616"
13,18 years and over:,Under .50:,Total,Total,1036198,"±25,948"
14,18 years and over:,Under .50:,With a disability:,Total,262096,"±10,870"
15,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"
16,18 years and over:,Under .50:,With a disability:,With a vision difficulty,51313,"±4,226"
17,18 years and over:,Under .50:,With a disability:,With a cognitive difficulty,123427,"±7,409"
18,18 years and over:,Under .50:,With a disability:,With an ambulatory difficulty,145701,"±7,849"
19,18 years and over:,Under .50:,With a disability:,With a self-care difficulty,60717,"±4,859"
20,18 years and over:,Under .50:,With a disability:,With an independent living difficulty,120069,"±7,014"
21,18 years and over:,Under .50:,No disability,NaN,774102,"±23,112"
22,Under 5 years:,.50 to .99:,Total,Total,80612,"±7,237"
23,Under 5 years:,.50 to .99:,With a disability:,Total,1402,±895
24,Under 5 years:,.50 to .99:,With a disability:,With a hearing difficulty,1100,±791
25,Under 5 years:,.50 to .99:,With a disability:,With a vision difficulty,379,±393
26,Under 5 years:,.50 to .99:,No disability,NaN,79210,"±7,222"
27,5 to 17 years:,.50 to .99:,Total,Total,263635,"±16,626"
28,5 to 17 years:,.50 to .99:,With a disability:,Total,24050,"±4,270"
29,5 to 17 years:,.50 to .99:,With a disability:,With a hearing difficulty,780,±446
30,5 to 17 years:,.50 to .99:,With a disability:,With a vision difficulty,4776,"±1,913"
31,5 to 17 years:,.50 to .99:,With a disability:,With a cognitive difficulty,19330,"±3,962"
32,5 to 17 years:,.50 to .99:,With a disability:,With an ambulatory difficulty,1952,±850
33,5 to 17 years:,.50 to .99:,With a disability:,With a self-care difficulty,5029,"±1,774"
34,5 to 17 years:,.50 to .99:,No disability,NaN,239585,"±16,001"
35,18 years and over:,.50 to .99:,Total,Total,961530,"±26,068"
36,18 years and over:,.50 to .99:,With a disability:,Total,306552,"±11,864"
37,18 years and over:,.50 to .99:,With a disability:,With a hearing difficulty,56061,"±5,185"
38,18 years and over:,.50 to .99:,With a disability:,With a vision difficulty,56802,"±5,426"
39,18 years and over:,.50 to .99:,With a disability:,With a cognitive difficulty,132198,"±6,736"
40,18 years and over:,.50 to .99:,With a disability:,With an ambulatory difficulty,191820,"±8,619"
41,18 years and over:,.50 to .99:,With a disability:,With a self-care difficulty,84502,"±5,677"
42,18 years and over:,.50 to .99:,With a disability:,With an independent living difficulty,161658,"±8,426"
43,18 years and over:,.50 to .99:,No disability,NaN,654978,"±21,009"

In [117]:
#filter for vision difficulty 
dfs_v = dfs.query('Type == "With a vision difficulty"')
dfs_v

,Age,Ratio,Status,Type,Pop,Error
3,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
8,5 to 17 years:,Under .50:,With a disability:,With a vision difficulty,4895,"±1,492"
16,18 years and over:,Under .50:,With a disability:,With a vision difficulty,51313,"±4,226"
25,Under 5 years:,.50 to .99:,With a disability:,With a vision difficulty,379,±393
30,5 to 17 years:,.50 to .99:,With a disability:,With a vision difficulty,4776,"±1,913"
38,18 years and over:,.50 to .99:,With a disability:,With a vision difficulty,56802,"±5,426"

In [119]:
#sum for vision
v_sum = dfs_v["Pop"].sum()
v_sum

118503

In [169]:
print(f"In New York state, there are {v_sum} people with vision difficulties living under the poverty line.")

In New York state, there are 118503 people with vision difficulties living under the poverty line.

In [122]:
#filter for hearing difficulty 
dfs_h = dfs.query('Type == "With a hearing difficulty"')
dfs_h

,Age,Ratio,Status,Type,Pop,Error
2,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
7,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
15,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"
24,Under 5 years:,.50 to .99:,With a disability:,With a hearing difficulty,1100,±791
29,5 to 17 years:,.50 to .99:,With a disability:,With a hearing difficulty,780,±446
37,18 years and over:,.50 to .99:,With a disability:,With a hearing difficulty,56061,"±5,185"

In [123]:
#sum for hearing
h_sum = dfs_h["Pop"].sum()
h_sum

100356

In [168]:
print(f"In New York state, there are {v_sum} people with vision difficulties and {h_sum} people with hearing difficulties living under the poverty line.")

In New York state, there are 118503 people with vision difficulties and 100356 people with hearing difficulties living under the poverty line.

In [124]:
dfe = pd.read_csv("data/disability-types.csv")
dfe

                                Label (Grouping)         Pop    Error
0                                         Total:  19,475,046   ±2,907
1                             With a disability:   2,508,047  ±34,528
2                      With a hearing difficulty     592,477  ±13,162
3                       With a vision difficulty     447,623  ±15,079
4                    With a cognitive difficulty     997,333  ±23,979
5                  With an ambulatory difficulty   1,289,168  ±21,939
6                    With a self-care difficulty     542,024  ±15,310
7          With an independent living difficulty   1,011,062  ±19,636
8                                  No disability  16,966,999  ±34,477

In [128]:
#put values from above set
h_pop = 592477
v_pop = 447623

592477

In [134]:
#find percent of blind in poverty 
v_per = round((v_sum/v_pop)*100, 2)
v_per

26.47

In [133]:
#find percent of deaf in poverty 
h_per = round((h_sum/h_pop)*100, 2)
h_per

16.94

In [166]:
print(f"In New York state, {v_per}% of those with vision difficulties live under the poverty line, compared to only {h_per}% of those with hearing difficulties.")

In New York state, 26.47% of those with vision difficulties live under the poverty line, compared to only 16.94% of those with hearing difficulties.

In [208]:
h_ratio = round(v_per/h_per, 2)
h_ratio

1.56

In [209]:
print(f"In New York state, blind people are {h_ratio}x more likely than deaf people to live in poverty.")

In New York state, blind people are 1.56x more likely than deaf people to live in poverty.

In [210]:
#find sum for non-disabled to compare to blind
#filter for no disability
dfs_a = dfs.query('Status == "No disability"')
dfs_a

                   Age        Ratio         Status Type     Pop    Error
4       Under 5 years:   Under .50:  No disability  NaN  110447   ±7,915
12      5 to 17 years:   Under .50:  No disability  NaN  251671  ±15,616
21  18 years and over:   Under .50:  No disability  NaN  774102  ±23,112
26      Under 5 years:  .50 to .99:  No disability  NaN   79210   ±7,222
34      5 to 17 years:  .50 to .99:  No disability  NaN  239585  ±16,001
43  18 years and over:  .50 to .99:  No disability  NaN  654978  ±21,009

In [211]:
a_sum = dfs_a["Pop"].sum()
a_sum

2109993

In [212]:
#find percentage of non-disabled new yorkers living in poverty
a_pop = 16966999
a_per = round((a_sum/a_pop)*100, 2)
a_per

12.44

In [213]:
print(f"In New York state, {v_per}% of those with vision difficulties live under the poverty line, compared to only {a_per}% of those without disabilities.")

In New York state, 26.47% of those with vision difficulties live under the poverty line, compared to only 12.44% of those without disabilities.

In [214]:
a_ratio = round(v_per/a_per, 2)
a_ratio

2.13

In [215]:
print(f"In New York state, blind people {a_ratio}x more likely to live in poverty than the non-disabled.")

In New York state, blind people 2.13x more likely to live in poverty than the non-disabled.

In [199]:
#compare people w/o vision issues to blind
#filter for no totals 
dfs_nt = dfs.query('Type != "Total"')
dfs_nt

,Age,Ratio,Status,Type,Pop,Error
2,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
3,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
4,Under 5 years:,Under .50:,No disability,NaN,110447,"±7,915"
7,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
8,5 to 17 years:,Under .50:,With a disability:,With a vision difficulty,4895,"±1,492"
9,5 to 17 years:,Under .50:,With a disability:,With a cognitive difficulty,23754,"±3,637"
10,5 to 17 years:,Under .50:,With a disability:,With an ambulatory difficulty,2415,"±1,150"
11,5 to 17 years:,Under .50:,With a disability:,With a self-care difficulty,4644,"±1,414"
12,5 to 17 years:,Under .50:,No disability,NaN,251671,"±15,616"
15,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"
16,18 years and over:,Under .50:,With a disability:,With a vision difficulty,51313,"±4,226"
17,18 years and over:,Under .50:,With a disability:,With a cognitive difficulty,123427,"±7,409"
18,18 years and over:,Under .50:,With a disability:,With an ambulatory difficulty,145701,"±7,849"
19,18 years and over:,Under .50:,With a disability:,With a self-care difficulty,60717,"±4,859"
20,18 years and over:,Under .50:,With a disability:,With an independent living difficulty,120069,"±7,014"
21,18 years and over:,Under .50:,No disability,NaN,774102,"±23,112"
24,Under 5 years:,.50 to .99:,With a disability:,With a hearing difficulty,1100,±791
25,Under 5 years:,.50 to .99:,With a disability:,With a vision difficulty,379,±393
26,Under 5 years:,.50 to .99:,No disability,NaN,79210,"±7,222"
29,5 to 17 years:,.50 to .99:,With a disability:,With a hearing difficulty,780,±446
30,5 to 17 years:,.50 to .99:,With a disability:,With a vision difficulty,4776,"±1,913"
31,5 to 17 years:,.50 to .99:,With a disability:,With a cognitive difficulty,19330,"±3,962"
32,5 to 17 years:,.50 to .99:,With a disability:,With an ambulatory difficulty,1952,±850
33,5 to 17 years:,.50 to .99:,With a disability:,With a self-care difficulty,5029,"±1,774"
34,5 to 17 years:,.50 to .99:,No disability,NaN,239585,"±16,001"
37,18 years and over:,.50 to .99:,With a disability:,With a hearing difficulty,56061,"±5,185"
38,18 years and over:,.50 to .99:,With a disability:,With a vision difficulty,56802,"±5,426"
39,18 years and over:,.50 to .99:,With a disability:,With a cognitive difficulty,132198,"±6,736"
40,18 years and over:,.50 to .99:,With a disability:,With an ambulatory difficulty,191820,"±8,619"
41,18 years and over:,.50 to .99:,With a disability:,With a self-care difficulty,84502,"±5,677"
42,18 years and over:,.50 to .99:,With a disability:,With an independent living difficulty,161658,"±8,426"
43,18 years and over:,.50 to .99:,No disability,NaN,654978,"±21,009"

In [216]:
#filter for no vision difficulty 
dfs_nv = dfs_nt.query('Type != "With a vision difficulty"')
dfs_nv

,Age,Ratio,Status,Type,Pop,Error
2,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
4,Under 5 years:,Under .50:,No disability,NaN,110447,"±7,915"
7,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
9,5 to 17 years:,Under .50:,With a disability:,With a cognitive difficulty,23754,"±3,637"
10,5 to 17 years:,Under .50:,With a disability:,With an ambulatory difficulty,2415,"±1,150"
11,5 to 17 years:,Under .50:,With a disability:,With a self-care difficulty,4644,"±1,414"
12,5 to 17 years:,Under .50:,No disability,NaN,251671,"±15,616"
15,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"
17,18 years and over:,Under .50:,With a disability:,With a cognitive difficulty,123427,"±7,409"
18,18 years and over:,Under .50:,With a disability:,With an ambulatory difficulty,145701,"±7,849"
19,18 years and over:,Under .50:,With a disability:,With a self-care difficulty,60717,"±4,859"
20,18 years and over:,Under .50:,With a disability:,With an independent living difficulty,120069,"±7,014"
21,18 years and over:,Under .50:,No disability,NaN,774102,"±23,112"
24,Under 5 years:,.50 to .99:,With a disability:,With a hearing difficulty,1100,±791
26,Under 5 years:,.50 to .99:,No disability,NaN,79210,"±7,222"
29,5 to 17 years:,.50 to .99:,With a disability:,With a hearing difficulty,780,±446
31,5 to 17 years:,.50 to .99:,With a disability:,With a cognitive difficulty,19330,"±3,962"
32,5 to 17 years:,.50 to .99:,With a disability:,With an ambulatory difficulty,1952,±850
33,5 to 17 years:,.50 to .99:,With a disability:,With a self-care difficulty,5029,"±1,774"
34,5 to 17 years:,.50 to .99:,No disability,NaN,239585,"±16,001"
37,18 years and over:,.50 to .99:,With a disability:,With a hearing difficulty,56061,"±5,185"
39,18 years and over:,.50 to .99:,With a disability:,With a cognitive difficulty,132198,"±6,736"
40,18 years and over:,.50 to .99:,With a disability:,With an ambulatory difficulty,191820,"±8,619"
41,18 years and over:,.50 to .99:,With a disability:,With a self-care difficulty,84502,"±5,677"
42,18 years and over:,.50 to .99:,With a disability:,With an independent living difficulty,161658,"±8,426"
43,18 years and over:,.50 to .99:,No disability,NaN,654978,"±21,009"

In [200]:
#find sum of those living in poverty without vision issues
nv_sum = dfs_nv['Pop'].sum()
nv_sum

3287565

In [ ]:
#find percentage of those in poverty w/o vision issues

In [201]:
#call dfe
dfe

                                Label (Grouping)         Pop    Error
0                                         Total:  19,475,046   ±2,907
1                             With a disability:   2,508,047  ±34,528
2                      With a hearing difficulty     592,477  ±13,162
3                       With a vision difficulty     447,623  ±15,079
4                    With a cognitive difficulty     997,333  ±23,979
5                  With an ambulatory difficulty   1,289,168  ±21,939
6                    With a self-care difficulty     542,024  ±15,310
7          With an independent living difficulty   1,011,062  ±19,636
8                                  No disability  16,966,999  ±34,477

In [217]:
#find total pop of those w/o vision issues
total_pop = 19475046
nv_pop = total_pop - v_pop
nv_pop

19027423

In [218]:
#calculate percentage
nv_per = round((nv_sum/nv_pop)*100, 2)
nv_per

17.28

In [219]:
#calc ratio
nv_ratio = round((v_per/nv_per), 2)
nv_ratio

1.53

In [220]:
print(f"In New York state, people with vision difficulties are {nv_ratio}x more likely to live in poverty than those without them.")

In New York state, people with vision difficulties are 1.53x more likely to live in poverty than those without them.