In [1]:
#import lib
import pandas as pd

In [4]:
#read data set
df = pd.read_csv("data/disability-poverty.csv")
df

,Age,Ratio,Status,Type,Pop,Error
0,Total,Total,Total,Total,19163785,"±6,102"
1,Under 5 years:,Total,Total,Total,1032224,"±3,908"
2,Under 5 years:,Under .50:,Total,Total,110834,"±7,931"
3,Under 5 years:,Under .50:,With a disability:,Total,387,±361
4,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
...,...,...,...,...,...,...
109,18 years and over:,2.00 and over:,With a disability:,With a cognitive difficulty,412301,"±14,006"
110,18 years and over:,2.00 and over:,With a disability:,With an ambulatory difficulty,663203,"±17,181"
111,18 years and over:,2.00 and over:,With a disability:,With a self-care difficulty,240844,"±10,400"
112,18 years and over:,2.00 and over:,With a disability:,With an independent living difficulty,485265,"±12,438"
113,18 years and over:,2.00 and over:,No disability,NaN,9938063,"±49,571"

In [7]:
#filter for a ratio of less than 50% of income to poverty level
dfs = df.query('Ratio == "Under .50:"')
dfs

,Age,Ratio,Status,Type,Pop,Error
2,Under 5 years:,Under .50:,Total,Total,110834,"±7,931"
3,Under 5 years:,Under .50:,With a disability:,Total,387,±361
4,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
5,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
6,Under 5 years:,Under .50:,No disability,NaN,110447,"±7,915"
28,5 to 17 years:,Under .50:,Total,Total,280661,"±16,198"
29,5 to 17 years:,Under .50:,With a disability:,Total,28990,"±3,945"
30,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
31,5 to 17 years:,Under .50:,With a disability:,With a vision difficulty,4895,"±1,492"
32,5 to 17 years:,Under .50:,With a disability:,With a cognitive difficulty,23754,"±3,637"
33,5 to 17 years:,Under .50:,With a disability:,With an ambulatory difficulty,2415,"±1,150"
34,5 to 17 years:,Under .50:,With a disability:,With a self-care difficulty,4644,"±1,414"
35,5 to 17 years:,Under .50:,No disability,NaN,251671,"±15,616"
69,18 years and over:,Under .50:,Total,Total,1036198,"±25,948"
70,18 years and over:,Under .50:,With a disability:,Total,262096,"±10,870"
71,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"
72,18 years and over:,Under .50:,With a disability:,With a vision difficulty,51313,"±4,226"
73,18 years and over:,Under .50:,With a disability:,With a cognitive difficulty,123427,"±7,409"
74,18 years and over:,Under .50:,With a disability:,With an ambulatory difficulty,145701,"±7,849"
75,18 years and over:,Under .50:,With a disability:,With a self-care difficulty,60717,"±4,859"
76,18 years and over:,Under .50:,With a disability:,With an independent living difficulty,120069,"±7,014"
77,18 years and over:,Under .50:,No disability,NaN,774102,"±23,112"

In [8]:
#filter for vision issues
#filter under .5
dfs_v = dfs.query('Type == "With a vision difficulty"')
dfs_v

,Age,Ratio,Status,Type,Pop,Error
5,Under 5 years:,Under .50:,With a disability:,With a vision difficulty,338,±359
31,5 to 17 years:,Under .50:,With a disability:,With a vision difficulty,4895,"±1,492"
72,18 years and over:,Under .50:,With a disability:,With a vision difficulty,51313,"±4,226"

In [27]:
#find vision sum 
v_sum = dfs_v["Pop"].sum()
v_sum

56546

In [28]:
#filter for hearing issues 
dfs_h = dfs.query('Type == "With a hearing difficulty"')
dfs_h

,Age,Ratio,Status,Type,Pop,Error
4,Under 5 years:,Under .50:,With a disability:,With a hearing difficulty,49,±48
30,5 to 17 years:,Under .50:,With a disability:,With a hearing difficulty,1871,"±1,035"
71,18 years and over:,Under .50:,With a disability:,With a hearing difficulty,40495,"±3,974"

In [29]:
#find hearing sum
h_sum = dfs_h["Pop"].sum()
h_sum

42415

In [30]:
#find non-disabled sum 
dfs_a = dfs.query('Status == "No disability"')
dfs_a
a_sum = dfs_a["Pop"].sum()
a_sum

1136220

In [41]:
#find no vision issues sum
#get rid of totals
dft = dfs.query('Type != "Total"')
dft
dfs_n = dft.query('Type != "With a vision difficulty"')
dfs_n
nv_sum = dfs_n["Pop"].sum()
nv_sum

1659362

In [23]:
#read total population numbers
dfe = pd.read_csv("data/disability-types.csv")
dfe

                                          Status         Pop    Error
0                                         Total:  19,475,046   ±2,907
1                             With a disability:   2,508,047  ±34,528
2                      With a hearing difficulty     592,477  ±13,162
3                       With a vision difficulty     447,623  ±15,079
4                    With a cognitive difficulty     997,333  ±23,979
5                  With an ambulatory difficulty   1,289,168  ±21,939
6                    With a self-care difficulty     542,024  ±15,310
7          With an independent living difficulty   1,011,062  ±19,636
8                                  No disability  16,966,999  ±34,477

In [42]:
#save total population numbers
v_pop = 447623
h_pop = 592477
a_pop = 16966999
total_pop = 19475046
nv_pop = total_pop - v_pop
nv_pop

19027423

In [33]:
#calc vision percentage
v_per = round((v_sum/v_pop)*100, 2)
v_per

12.63

In [34]:
#calc vision percentage
h_per = round((h_sum/h_pop)*100, 2)
h_per

7.16

In [32]:
#calc abled percentage
a_per = round((a_sum/a_pop)*100, 2)
a_per

6.7

In [43]:
#calc nv percentage
nv_per = round((nv_sum/nv_pop)*100, 2)
nv_per

8.72

In [44]:
#calc vision:hearing ratio
h_ratio = round(v_per/h_per, 2)
print(f"In New York state, blind people are {h_ratio}x more likely than hearing people to be more than 50% below the poverty line.")

In New York state, blind people are 1.76x more likely than hearing people to be more than 50% below the poverty line.

In [46]:
#calc vision:abled ratio
a_ratio = round(v_per/a_per, 2)
print(f"In New York state, blind people are {a_ratio}x more likely than abled people to be more than 50% below the poverty line.")

In New York state, blind people are 1.89x more likely than abled people to be more than 50% below the poverty line.

In [47]:
#calc vision:nv ratio
nv_ratio = round(v_per/nv_per, 2)
print(f"In New York state, blind people are {nv_ratio}x more likely than people without vision issues to be more than 50% below the poverty line.")

In New York state, blind people are 1.45x more likely than people without vision issues to be more than 50% below the poverty line.